/*  Page de connexion */

.root {
    -fx-background-color: white;
    -fx-padding: 20;
}

.titleConnexion {
    -fx-font-size: 30pt;
    -fx-font-family:  'Arial', monospace;
    -fx-font-weight: bold ;
    -fx-alignment: center;
    -fx-font-style: italic;
}



.container {
    -fx-background-color: rgba(255, 237, 237, 0.59);
    -fx-padding: 40;
    -fx-border-color: #590824;
    -fx-border-width: 3;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-min-width: 700px;
    -fx-min-height: 480px;
    -fx-max-width: 700px;
    -fx-max-height: 480px;
}


.label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.labelUser {
    -fx-font-size: 14pt;
    -fx-font-weight: lighter ;
    -fx-text-fill: #333333;
}
.text-field, .password-field {
    -fx-font-size: 12pt;
    -fx-padding: 10;
    -fx-border-color: #590824;
    -fx-border-width: 1;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-margin-bottom: 20px;
}

.button {
    -fx-background-color: #590824;
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-padding: 10 20;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.buttonLate {
    -fx-background-color: #F92121;
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-padding: 10 20;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-opacity: 0.8;
}

.button:hover {
    -fx-background-color: #660000;
}

/* UserProfil */
.borrowTitle {
    -fx-text-fill: black;
}

.highlighted-label-green {
    -fx-background-color: #89DD87;
    -fx-background-radius: 50;
    -fx-padding: 5px;
}

.highlighted-label-red {
    -fx-background-color: #E75C5C;
    -fx-background-radius: 50;
    -fx-padding: 5px;
}

.highlighted-label-gray {
    -fx-background-color: gray;
    -fx-background-radius: 50;
    -fx-padding: 5px;
    -fx-opacity: 0.8;
}

.highlighted-label-gray-date {
    -fx-text-fill: rgba(0, 0, 0, 0.9); /* Texte noir avec 90% d'opacité */
    -fx-font-weight: bold;
    -fx-background-color: rgba(128, 128, 128, 0.5); /* Fond gris avec 50% d'opacité */
    -fx-background-radius: 50;
    -fx-padding: 5px;
}
.user-info-box {
    -fx-border-color: #E57D7D;
    -fx-border-width: 3;
    -fx-padding: 20px;
    -fx-margin: 50px;
    -fx-border-radius: 50;
}

.borrowBox {
    -fx-border-color: #E57D7D;
    -fx-border-radius: 50;
    -fx-border-width: 3;
    -fx-margin: 50px;
    -fx-padding: 20px;
}

.borrowsGrid {
    -fx-alignment: center;
}

/* style.css */
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
    -fx-background-color: #888;
    -fx-background-radius: 4;
}

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-padding: 2;
}

.scroll-bar:vertical .track, .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb:hover, .scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #666;
}

.scroll-bar:vertical .thumb:pressed, .scroll-bar:horizontal .thumb:pressed {
    -fx-background-color: #444;
}


/* HomePage */

.buttonHome {
    -fx-background-color: rgb(247, 223, 223,0.5);
    -fx-text-fill: black;
    -fx-font-size: 32pt;
    -fx-padding: 10 20;
    -fx-border-radius: 50;
    -fx-border-width: 3;
    -fx-background-radius: 50;
    -fx-border-color: #590824;
    -fx-min-width: 300px;
    -fx-min-height: 200px;
    -fx-max-width: 300px;
    -fx-max-height: 200px;
}

.buttonHome:hover {
    -fx-background-color: rgb(247, 223, 223,0.8);
}

.subtitle{
    -fx-text-fill: black;
    -fx-font-weight: lighter;
    -fx-font-size: 25pt;
}

/* UsersPage */

.title {
    -fx-font-size: 19pt;
    -fx-font-family:  'Arial', monospace;
    -fx-font-weight: bold ;
    -fx-alignment: center;
    -fx-background-color: rgb(247, 223, 223,0.8);
    -fx-text-fill: black;
    -fx-padding: 10 20;
    -fx-border-radius: 50;
    -fx-border-width: 0.2;
    -fx-background-radius: 50;
    -fx-border-color: rgb(89, 8, 36,0.5);
    -fx-min-width: 600px;
    -fx-min-height: 51px;
    -fx-max-width: 600px;
    -fx-max-height: 51px;

}

.text-fieldSearch{
    -fx-font-size: 12pt;
    -fx-font-style: italic;
    -fx-padding: 10;
    -fx-border-color: #E57D7D;
    -fx-border-width: 0.2;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-margin-bottom: 20px;
    -fx-min-width: 500px;
    -fx-min-height: 50px;
    -fx-max-width: 500px;
    -fx-max-height: 50px;
}

.button-UsersPage {
    -fx-background-color: white;
    -fx-border-color: #E57D7D;
    -fx-text-fill: black;
    -fx-font-size: 12pt;
    -fx-border-width: 0.6;
    -fx-padding: 10 20;
    -fx-border-radius: 50;
    -fx-background-radius: 50;

}



.buttonLate{
    -fx-background-color: #F92121;
    -fx-border-color: #E57D7D;
    -fx-text-fill: black;
    -fx-font-size: 12pt;
    -fx-border-width: 0.6;
    -fx-padding: 10 20;
    -fx-border-radius: 50;
    -fx-background-radius: 50;

}

.buttonLate:hover{
    -fx-background-color: rgb(249, 33, 33,0.8);

}

.button-UsersPage:hover {
    -fx-background-color: rgb(247, 223, 223,0.8);
}


.buttonEye {
    -fx-background-color: white;
    -fx-border-color: #E57D7D;
    -fx-text-fill: black;
    -fx-font-size: 12pt;
    -fx-border-width: 0.6;
    -fx-padding: 10 20;
    -fx-border-radius: 50;
    -fx-background-radius: 50;

}
/* Conteneur de l'en-tête des colonnes */
.table-view .column-header-background {
    -fx-background-color: rgb(247, 223, 223, 0.5);
    -fx-border-color: rgb(89, 8, 36, 0.5);
    -fx-border-width: 0.2;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

/* Labels dans l'en-tête des colonnes */
.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: 'Arial', monospace;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment:  center-left;
    -fx-padding: 10;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.table-view {
    -fx-pref-width: 1450px; /* Définissez une largeur préférée pour le tableau */
    -fx-max-width: 1450px; /* Définissez une largeur maximale pour le tableau */
    -fx-align-items: center; /* Centre le contenu du tableau */
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}

/* Lignes du tableau */
.table-view .table-row-cell {
    -fx-pref-width: 1400px; /* Définissez une largeur préférée pour le tableau */
    -fx-max-width: 1400px; /* Définissez une largeur maximale pour le tableau */
    -fx-font-size: 12pt;
    -fx-font-family: 'Arial', monospace;
    -fx-font-weight: normal;
    -fx-alignment:  center-left;
    -fx-background-color: rgb(247, 223, 223);
    -fx-text-fill: black;
    -fx-padding: 5.7;
    -fx-border-radius: 100;
    -fx-border-width: 0.2;
    -fx-background-radius: 50;
    -fx-border-color: rgb(89, 8, 36, 0.5);
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 5;
    -fx-alignment:  center-left;
}

.table-view .table-row-cell:filled:hover, .table-view .table-cell:filled:hover {
    -fx-background-color: rgb(247, 223, 223, 0.8);
    -fx-text-fill: black;
    -fx-background-radius: 100;

}






